.measureTitle {
    font-size: 4rem;
    color: var(--color-white);
    background-color: var(--color-uraniunBlue);
    text-align: center;
    margin: 0;
    padding: 25px 0 0 0;
}

.measureLayout {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    padding: 25px;
    background-color: var(--color-uraniunBlue);
}

.userDetails {
    width: 50%;
    background-color: var(--color-darkerBlue);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-items: center;
    align-items: start;
    padding: 20px 50px;
}

.userDetails h2 {
    font-size: 2rem;
    color: var(--color-white);
    margin: 0 auto;
    padding: 0 25px;
}

.userDetails p {
    margin: 0.5rem 0;
    color: var(--color-white);
}

.measureButton {
    background: none;
    color: var(--color-white);
    border: 1px solid var(--color-lightBlue);
    border-radius: 15px;
    padding: 8px 12px;
    margin: 0 auto;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.5s border;
}

.measureButton:hover {
    border-color: var(--color-white);
}

.measureLoadingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 25px;
    width: 100%;
}

.measureLoadingContainer p {
    margin-right: 50px;
}

.progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 20px;
    overflow: hidden;
    height: 30px;
    margin-top: 10px;
}

.progress {
    background-color: var(--color-lightBlue);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    transition: width 0.5s ease-in-out;
}

.spinner {
    margin: 10px 0;
}

.buttonRed {
    background: none;
    color: var(--color-white);
    border: 1px solid var(--color-red);
    border-radius: 15px;
    padding: 8px 12px;
    margin: 0 auto;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.5s border;
}

.buttonRed:hover {
    border-color: var(--color-white);
}

.measureLoadingText {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
