:root{
  /* Main colors */
  --color-lightBlue: #7ea0b7;
  --color-uraniunBlue: #a9cef4;
  --color-darkerBlue: #253544;
  /* Filler colors */
  --color-white: white;
  --color-white-dark: rgb(240, 240, 240);
  --color-black: black;
  --color-black-light: rgb(35, 35, 35);
  --color-black-transparent: rgba(0, 0, 0, 0.6);
  /* Tools | Geolocation | Mobile towers color */
  --color-lightgray: lightgray;
  /* Animation */
  --hover-duration: 0.3s;
}

.blueBackground {
  /* BACKGROUND BRAKES */
  position: absolute;
  background-color: var(--color-lightBlue);
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow-y: hidden;
}

.grayBackground {
  position: absolute;
  background-color: var(--color-lightgray);
  width: 100%;
  height: 100vh;
  z-index: -1;
}