:root{
  /* Main colors */
  --color-lightBlue: #7ea0b7;
  --color-uraniunBlue: #a9cef4;
  --color-darkerBlue: #253544;
  /* Creator colors */
  --color-lightGreen: #b4f2b4;
  --color-lightOrange: #ebd4b8;
  --color-lightPurple: #eda8e4;
  /* Filler colors */
  --color-white: white;
  --color-white-dark: rgb(240, 240, 240);
  --color-black: black;
  --color-black-light: rgb(35, 35, 35);
  --color-black-transparent: rgba(0, 0, 0, 0.7);
  --color-black-more-transparent: rgba(0, 0, 0, 0.6);
  /* Tools | Geolocation | Mobile towers color */
  --color-lightgray: lightgray;
  /* Animation */
  --hover-duration: 0.3s;
}

body{
  font-weight: 300;
}

.blueBackground {background-color: var(--color-uraniunBlue);}
.grayBackground {background-color: var(--color-lightgray);}
.blackBackground{background-color: var(--color-black-light);}
.imageBackground{
    background-image: url('../assets/mariborMain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.shadingBackground{ background-color: var(--color-black-transparent);}

.oneRowContainer, .oneColumnContainer{
  display:flex;
  width: 100%;
}

.oneColumnContainer{
  flex-direction: column;
}

.buttonRed{
  background-color: rgb(154, 0, 0);
}