:root{
  /* Colors */
  --color-purple: rgb(98,0,238);
  --color-purple-light: rgb(115, 31, 232);
  --color-purple-dark: rgb(70, 0, 170);
  --color-white: white;
  --color-white-dark: rgb(240, 240, 240);
  --color-black: black;
  --color-black-light: rgb(35, 35, 35);
  --color-black-transparent: rgba(0, 0, 0, 0.6);
  /* Animation */
  --hover-duration: 0.3s;
}
