.footerLayout{
    display: flex;
    text-align: center;
    color: var(--color-white);
    font-size: 22px;
    font-weight: 300;
}

.footerCredits{
    padding: 25px;
    margin:0;
}

.footerCredits .button{
    color: var(--color-uraniunBlue);
    font-weight:500;
    text-decoration: none;
    cursor: pointer;
    transition: var(--hover-duration) ease; 
}

.footerCredits .button:hover{
    color: var(--color-lightBlue);
}

.footerLinks{
    display: flex;
    align-items: center;
    margin: 25px auto 0 auto;
    justify-content: space-between;
}

.footerLink, .footerLink:visited{
    color: var(--color-white);
}

.footerLink{
    margin: 0 25px;
    cursor:pointer;
    transition: 0.3s color;
}

.footerLink:hover{
    color:var(--color-lightBlue);
}
