.header{
    display: flex;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(5px);
    height: 100px;
    background-color: rgba(0, 0, 0, 0.75);
}

.header-title{
    color: var(--color-white);
    /* background-color: var(--color-lightBlue); */
    /* box-shadow: 5px 7px var(--color-darkerBlue); */
    /* border: 1px solid var(--color-lightBlue);  */
    padding: 10px 20px;
    margin: auto;
    text-align: center;
    border-radius: 45px;
    transition: var(--hover-duration) ease;
}

.header-title:hover{
    background-color: var(--color-lightBlue-light);
    /* box-shadow: 5px 7px var(--color-darkerBlue); */
    box-shadow: none;
    cursor: pointer;
}

.header-left, .header-right, .header-right-loggedIn{
    position: absolute;
    display: flex;
    align-items: center;
    padding: 10px;
}

.header-left{left: 20px;}

.header-right, .header-right-loggedIn {right: 20px;}

.header-left > *, .header-right > *{
    color: var(--color-white);
    /*background-color: var(--color-lightBlue);
    box-shadow: 3px 5px var(--color-darkerBlue);*/
    border: 1px solid var(--color-lightBlue); 
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: var(--hover-duration) ease;
}

.header-right > *:hover, .header-left > *:hover{
    background-color: var(--color-lightBlue-light);
    /* box-shadow: 3px 5px var(--color-darkerBlue); */
    box-shadow: none;
    border: 1px solid var(--color-white);
    cursor: pointer;
}

.header-left > *{
    margin-right: 15px;
}

.header-right-loggedIn{
    /* border: 1px solid var(--color-lightBlue);  */
    color: var(--color-white);
    font-size: 1.2em;
    padding: 8px 16px;
    border-radius: 20px;
}

.header-right-loggedIn span b{
    color: var(--color-lightBlue);
    margin-right: 15px;
    cursor: pointer;
    transition: var(--hover-duration) ease;
}

.header-right-loggedIn span b:hover{
    color: var(--color-white);
}

.header-right-loggedIn button{
    background-color: var(--color-lightBlue-light);
    color: var(--color-white);
    font-size: 0.8em;
    border: 1px solid var(--color-lightBlue);
    padding: 8px 16px;
    border-radius: 10px;
    transition: var(--hover-duration) ease;
    cursor: pointer;
}

.header-right-loggedIn button:hover{
    border: 1px solid var(--color-white);
}


.header-Login{
    margin-right: 15px;
}

.header-Register:hover{
    color: var(--color-white);
}
  
.header-title {
    margin: auto;
    text-align: center;
}

.header-title-link{
    color: var(--color-white);
    text-decoration: none;
}