/* .backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url('../assets/mariborMain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(85%);
} */

.homeContainer{
    display:flex;
    flex-direction: column;
    background-color: var(--color-uraniunBlue);
}

.homePage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    width: 100%;
    background-color: var(--color-black-transparent);
}

.homePageDescription{
    display:flex;
    color: var(--color-white);
    background-color: var(--color-black-more-transparent);
    font-weight: 300;
    margin: auto;
    font-size: 24px;
    padding: 50px 10%;
}

.homePageDescription p{
    background-color: var(--color-da)
    /* font-size: 16px; */
}

.homePageTitle{
    color: var(--color-white);
    background-color: var(--color-lightBlue);
    padding: 100px 0;
    margin: 0 auto;
    width: 100%;
}

.homePageTitle a{
    transition: var(--hover-duration) ease;
    color: var(--color-white);
    text-decoration: none;
}

.homePageTitle a:hover{
    color: var(--color-purple-light);
    cursor: pointer;
}

.homePageSubtitle{
    color: var(--color-white);
    font-size: 30px;
    border-radius: 25px;
    margin: 0;
    padding-top: 50px;
}

.homePageSubLayout{
    width: 100%;
    background-color: var(--color-black);
    padding: 20px;
    /* position: fixed; */
    /* bottom: 0; */
}

.mainContentLayout{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainContentElement{
    background-color: var(--color-purple);
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    box-shadow: 3px 4px var(--color-purple-dark);
    transition: var(--hover-duration) ease;
}

.mainContentElement:hover{
    background-color: var(--color-purple-light);
    box-shadow: 3px 4px var(--color-black-light);
    cursor: pointer;
}

.mainContentLink{
    color: var(--color-white);
   text-decoration: none;;
}

.homePageFeatures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    color: var(--color-white);
    margin: 25px 10%;
    font-size: 20px;
    padding-bottom: 25px;
}

.homePageFeatures div {
    position: relative;
    text-align: left;
    padding: 10px 20px 40px 20px;
    box-sizing: border-box;
    border: 1px solid var(--color-white);
    border-radius: 10px;
    background-color: var(--color-black-more-transparent);
    transition: var(--hover-duration) ease;
}

.homePageFeatures div:hover{
    background-color: var(--color-black-transparent);

}

.homePageFeatures h3 {
    margin-bottom: 10px;
}

.homePageFeatures a {
    color: var(--color-uraniunBlue);
    text-decoration: none;
    font-weight: 500;
    transition: var(--hover-duration) ease;
}

.homePageFeatures a:hover {
    color: var(--color-lightBlue);
}

.homePageFeatures .button {
    position: absolute;
    right: 15px;
    bottom: 10px;
    color: var(--color-uraniunBlue);
    cursor: pointer;
    transition: var(--hover-duration) ease;
}

.homePageFeatures .button:hover {
    color: var(--color-lightBlue);
}